node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.ipa
*.apk
*.app
*.aab
web-build/

*-error.log

# macOS
.DS_Store

app.json

google-services*.json
GoogleService-Info*.plist

.env*

src/inputs/*
src/outputs/*
